body {
  background-color: black;
}

h1 {
  color: darkgray;
}

.m5-mat-wrapper {
  width: 500px;
  height: 500px;
  position: relative;
}

.m5-mat {
  display: table;
  position: absolute;
  width: 90vw;
  height: 90vw;
  max-width: 500px;
  max-height: 500px;
  
  border: 1px solid gray;
  margin-top: 1em;
}

.m5-mat-row {
  display: table-row;
  
  border: 1px solid black;
}

.m5-mat-cell {
  display: table-cell;
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
  background-color: darkgray;
  cursor: pointer;
}

.m5-cell-content {
  width: 100%;
  height: 100%;
}

.m5-ball {
  border-radius: 50%;
}

.m5-active-ball {
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {width: 100%; height: 100%}
  50% {width: 70%; height: 70%; margin-left: 15%}
  100% {width: 100%; height: 100%}
}